body{
    width: 100%;
    
}
main{
    background-color: #444;
}

.msg{
    background-color: #00DE89;
    color: #000;
    width: 100%;
    border: #000;
   padding: 18px;
}

/* Navbar  */

.navbar{
    width: 100%;
    background-color: #444;   
}

.navbar-brand img{
    width: 60px;
    height: 65px;
}

#cabeca{
    display: flex;
    justify-content: space-between;    
    width: 70%;    
    padding-left: 32px;
}

#navbarNavDropdown a{
    color: #f3f3f3;
}

/* parallax  */

#parallax{
    background-image: url(https://images.pexels.com/photos/3784566/pexels-photo-3784566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#parallax h1,
#parallax p{
    color: #f3f3f3;
    text-align: center;
   
}

#parallax p{
    font-size: 24px;
    
}

#parallax a{
    color: #f3f3f3;
}

/* About-area  */

#equipe-about a{
    color: #f3f3f3;    
}

#about{
   background-image: linear-gradient(#444, #000);
   
}
#about-area{
    background-color: #444;
}

.main-title{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 18px;
}

#main-about{
    background-color: #444;
}

#equipe-about{    
    height: 120px;
    display: flex;     
    
}

#equipe-about a{
    padding: 20px 40px;
    margin: auto;
    background-color: #444;
    border: #000;    
   
}

#equipe-about a:hover{
    background-color: transparent;
    transition: .5s;
}

#mix{
    width: 100%;
}

#about-list li{
    list-style: none;
}

#about-area{
    padding: 42px;
   
}

#about-area p,
#about-area li,
#about-area h2,
#about-area h3{
    color: #f3f3f3;
}

/* Iframe area  */
#iframe-area{
    padding: 42px;
    background-color: #f3f3f3;
}

#iframe-area h3,
#iframe-area h2{   
    margin: 40px ;
    color: #444;
}

.iframe{
    margin-top: 25px;
    margin-bottom: 25px;
    transition: .5s;
    display: flex;
    flex-direction: row;
   
    text-align: center;
    
}
.iframe:hover,
.iframe p:hover{
    background-color: #444;
    color: #f3f3f3;    
}



.iframe p{
    font-size: 24px;
    color: #333;
    margin: auto;
    width: 100%;
    height: 300px;
    transition: .5s;
    
    
}

.ig{
    font-size: 26px;
    color: #000;   
    transition: .5s;     

}
.ig:hover{
    transform:rotate(180deg);
}

.equipamentos{
    margin-top:32px;
    margin-bottom: 32px;
    padding: 32px;
}
.equipamentos p{
    color: #777;
    margin-bottom: 64px;
}

/* Search-area  */

#search-container{
    /* background-color: #f3f3f3; */
    padding: 32px;
    text-align: center;

}

#search-container h1,
#equips-container h2
{
    color: #f3f3f3;
}
#search-container form{
    width: 60%;
    display: inline-flex;
    padding-bottom: 32px;
    
}
#cards-container {
    display: flex;
  }

  #equips-container{
    border: 2px solid #f3f3f3;
    border-radius: 20px;
    padding: 24px;
    margin: auto;
    
  }
  #equips-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    
  }

  #equips-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card .card-date {
    font-size: 12px;
    color: #CCC;
  }
  
  .card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  /* Dashboard equipamentos  */

  #info-container p{
    font-size: 24px;
  }

  /* login form  */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;

}
}
/* Edit Profile */
#profile-image-container,
.profile-image-container {
  width: 150px;
  height: 150px;
  border: 3px solid #444;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}

.profile-image{
    margin: 20px auto;
}

.profile-image-container {
  width: 70px;
  height: 70px;
}

.profile-description {
    max-width: 500px;
    margin: 20px auto;
  }

  #circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
  }

  #circle-image img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    
  }
  







/* footer  */

.pre-footer{
   
    width: 100%;
    background-color: #444;
    margin-bottom: 45px;
    
}

#footer-icons{
    display: flex;
    flex-direction: row;
   
    justify-content: space-evenly;
}
#footer-icons li{
    list-style: none;
    font-size: 50px;
    color: #f3f3f3;    
    text-align: center;  
}
#footer-icons ion-icon{
    color: #f3f3f3;
    transition: .5s;
}

footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #444;
    color: #f3f3f3;
}
footer p{
    text-decoration: none;
}
#p-footer{
    margin-top: 10px;
    color: #f3f3f3;
    
}
#p-footer a{
    text-decoration: none;
}


@media (max-width:450px){
   
    #cards-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    #saber-mais{
        text-align: center;
        margin-left: -7px;
    }
    .card-title{
        font-size: 8px;
    }
    #card{
        display: flex; 
        width: 80%;
        margin-top: 18px;
        margin-bottom: 12px;
    }
    .card{
        width: 80%;
       
        margin: 0 auto;
    }

    h2{
        color: #f3f3f3;
    }
    #card-text{
        margin-top: 18px;
    }
    .iframe{
        display: flex;
        flex-direction: column;
     
    }
    iframe{
        width: 100%;
    }

    #login{
      margin-bottom: 120px;
      
    }
    #register{
        margin-bottom: 320px;               
    }
 
    #desaparece{
        display: none;
    }
    footer{
        position: relative;
    }
    .pre-footer{
        margin-bottom: -20px;
    }
 

    
   
   
}